$vx-primary-black: #000000;
$vx-secondary-black: #111827;
$vx-primary-white: #ffffff;
$vx-white-variation: #fafafa;
$vx-light-gray: #a0aec0;
$vx-gray: #718096;
$vx-primary-background: #dee33e;
$vx-secondary-background: #9fa324;
